<launch>
    <include file="$(find realsense2_camera)/launch/rs_camera.launch"></include>
    <include file="$(find aruco_detect)/launch/aruco_detect.launch"></include> 
    <include file="$(find mars-quadcopter)/launch/robot localization/locate_marker.launch"></include> <!-- INCUDES STATIC TF FROM DRONE BODY TO CAMERA -->
    <include file="$(find mars-quadcopter)/launch/robot localization/turtle_tf_broadcaster.launch"></include>
</launch>
