<launch>
    <include file="$(find aruco_detect)/launch/aruco_detect.launch"></include> 
    <include file="$(find mars-quadcopter)/launch/locate_marker.launch"></include> <!-- INCUDES STATIC TF FROM DRONE BODY TO CAMERA -->
    <include file="$(find mars-quadcopter)/launch/turtle_tf_broadcaster.launch"></include>
</launch>
