<launch>
    <node pkg="tf" type="static_transform_publisher" name="map_Robot1UAV" args="0 0 1.2 0 0 0 /map /Robot_1/base_link 100"></node>
    <node pkg="tf" type="static_transform_publisher" name="Robot1UAV_camera" args="0.1651 0 -0.2 0 1.57 0 /Robot_1/base_link /camera_link 100"></node>
    <!-- static_transform_publisher x y z qx qy qz qw frame_id child_frame_id  period_in_ms -->
</launch>
